.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
  font-weight: bolder;
  font-size: 1.7rem;
}

.nav a.navLink:link,
.nav a.navLink:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--3);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
